<form [formGroup]="employeeForm" (ngSubmit)="onSubmit()" class="form-horizontal">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Create Employee</h3>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <label class="col-sm-2 control-label" for="fullName">Full Name</label>
        <div class="col-sm-8">
          <input [ngClass]="{'is-invalid': employeeForm.get('fullName').errors && employeeForm.get('fullName').touched}" id="fullName" formControlName="fullName" type="text" class="form-control">
        </div>
        <span *ngIf="employeeForm.get('fullName').hasError('required') && employeeForm.get('fullName').touched">          
          <label class="col-sm-8 control-label" style="color:red">Full Name is required</label>
        </span>
        <span *ngIf="(employeeForm.get('fullName').hasError('minlength') || employeeForm.get('fullName').hasError('maxlength')) && employeeForm.get('fullName').touched">          
          <label class="col-sm-8 control-label" style="color:red">Full Name is greater than 2 char and less than 10 char</label>
        </span>

        <label>{{fullNameLength}}</label>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label" for="email">Email</label>
        <div class="col-sm-8">
          <input id="email" type="text" formControlName="email" class="form-control">
        </div>
      </div>

      <div formGroupName="skills">

        <div class="form-group">
          <label class="col-sm-2 control-label" for="skillName">
            Skill
          </label>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="skillName"
                placeholder="Name" formControlName="skillName">
          </div>
          <div class="col-sm-4">
            <input type="text" placeholder="Experience in Years"
                class="form-control" formControlName="experienceInYears">
          </div>
        </div>
      
        <div class="form-group">
          <label class="col-md-2 control-label">Proficiency</label>
          <div class="col-md-8">
            <label class="radio-inline">
              <input id="proficiency" type="radio" value="beginner"
                     formControlName="proficiency">Beginner
            </label>
            <label class="radio-inline">
              <input id="proficiency" type="radio" value="intermediate"
                     formControlName="proficiency">Intermediate
            </label>
            <label class="radio-inline">
              <input id="proficiency" type="radio" value="advanced"
                     formControlName="proficiency">Advanced
            </label>
          </div>
        </div>
      
      </div>

    </div>
    <div class="panel-footer">
      <div class="btn-toolbar">
        <button class="btn btn-primary" type="submit">Save</button>
        <button class="btn btn-primary" type="button" (click)="onLoadDataClick()">Load Data</button>
        <button class="btn btn-primary" type="button" (click)="onLoadDataPatchClick()">Load Data PatchValue</button>

        <button class="btn btn-primary" type="button" (click)="onLoadKeyValuePair()">Show key value pairs</button>
      </div>
    </div>
  </div>
</form>